// Variables 

// Background Colors
$bg-main: #f9f8fa;
$bg-side: #feffff;
$bg-increase: #eaf5e7;
$bg-decrease: #fae8e4;

// Accent Colors
$border-gray: #e1dce4;
$border-shadow-light: #eeecf1;

// Font Colors
$fc-active: #392b51;
$fc-main-purple: #3e3551;
$fc-gray: #8c8a8d;
$fc-greeting: #1e1d25;
$fc-increase: #619c4c;
$fc-decrease: #d15361;

// Font Sizes
$fs-greeting: 2.5rem;
$fs-section-header: 1.5rem;
$fs-main-text: 1.25rem;
$fs-sub-text: .95rem;