// Variables 

// Background Colors
$bg-main: #f9f8fa;
$bg-side: #feffff;
$bg-increase: #d6f4cd;
$bg-decrease: #f8c6bb;

// Accent Colors
$border-gray: #e1dce4;
$border-shadow-light: #eeecf1;
$active-link :#66189c;

// Font Colors
$fc-active: #392b51;
$fc-main-purple: #3e3551;
$fc-gray: #8c8a8d;
$fc-greeting: #1e1d25;
$fc-increase: #2d890c;
$fc-decrease: #db4e5e;

// Font Sizes
$fs-extra-large: 1.75rem;
$fs-large: 1.25rem;
$fs-medium: 1rem;
$fs-small: .85rem;
$fs-extra-small: .75rem;