@use 'variables';
@use 'mixins';
@use 'extend';

// Trying new reset for padding, margin and box-sizing
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100svh;

    // using grid to set up general layout of dashboard
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "side head"
        "side main";
}

header {
    @include mixins.aside;
    @extend %flex-align;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid variables.$border-gray;
    
    .search {
        @include mixins.search-input;
    }

    .user-options {
        @extend %flex-align;
        gap: 1rem;
        padding-right: 2rem;

        button {
            cursor: pointer;
            padding: .5rem;
            border-radius: 50%;
            border-style: none;
            background-color: variables.$active-link;
            color: variables.$bg-side;
        }

    }

}

.sidebar {
    @include mixins.aside(side);
    border-right: 1px solid variables.$border-gray;

    .company-logo {
        @extend %flex-align;
        justify-content: center;
        padding-top: .5rem;
    }

    .main-nav, .resource-nav {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin: 2rem 0;
        // padding-left: 1rem;

        h6 {
            font-size: variables.$fs-small;
            padding-left: 1rem;
        }

        .nav-item {
            display: flex;

            a {
                text-decoration: none;
                color: variables.$fc-gray;
                padding: 0 0 .5rem 1rem;
            }

            a.active {
                border-left: 3px solid variables.$active-link;
            }

            .active {
                
                color: variables.$fc-active;
            }

            i {
                padding-right: .5rem;
            }
        }
    }
}

.main {
    background-color: variables.$bg-main;
    min-height: 100%;
    padding: 4rem;
}

.flex-wrapper {
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    gap: 2.5rem;

    > * {
        flex: 1 0 auto;
    }
}

// Each section is in a .content-container div 
// Applies like-styling to all of them.
.content-container {
    width: 90%;

    h4 {
        font-size: variables.$fs-large;
        margin-right: .5rem;
    }

    h3 {
        font-size: variables.$fs-medium;
    }
}

.greeting {
    h1 {
        font-size: variables.$fs-extra-large;
        color: variables.$fc-greeting;
        margin-bottom: .5rem;
    }

    p {
        font-size: variables.$fs-medium;
        color: variables.$fc-gray;
    }
}

// Overview Cards - Recap
.summary-cards {
    @include mixins.card();

    .summary-card {
        flex: 1;
        padding: 1rem;

        .card-header, .overview-num  {
            padding-bottom: 1rem;
        }

        .card-header h3 {
            font-size: variables.$fs-small;
        }

        .overview-num {
            @extend %flex-align;

            .increase{
                @include mixins.percent_bubble;
            }
            
            .decrease {
                @include mixins.percent_bubble(variables.$bg-decrease, variables.$fc-decrease);
            }
        }
    }

    .summary-card:not(:last-child) {
        border-right: 1px solid variables.$border-gray;
    }
}

// Header box - Header describing following 'widget'
.header-box {
    @extend %flex-align;
    justify-content: space-between;
    margin-bottom: 1rem;

    .header-info h2{
        font-size: variables.$fs-large;
    }

    .more-link a {
        color: variables.$active-link;
        text-decoration: none;
    }
}

//  Project Cards - 
.project-cards-container {
    @include mixins.card(1rem, none);

    .project-card {
        flex: 1;
        border: 1px solid variables.$border-gray;
        border-radius: .5rem;
        padding: 1rem;
        // Equal padding for all elements in card
        > * {
            padding: .5rem;
        }
        .card-footer {
            @extend %flex-align;
            justify-content: space-between;
        }
    }
}

// Conversations Table 
.message-table table {
    @extend %full-border;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;

    th, td {
        border-bottom: 1px solid lightgray;
        padding: 1rem;
        text-align: left;
    }

    td p {
        cursor: pointer;
    }

    .user-info {
        @extend %flex-align;
        gap: 2rem;
    }
}

// Timeframe subtext in cards
.timeframe {
    @extend %card-sub-text;
}

// Media Query 
@media (max-width: 700px) {
    body {
        grid-template-columns: 50px 1fr;
    }
    input {
        display: none;
    }
    header {
        justify-content: flex-start;
    }

    nav{ 
        margin-top: 6rem;
    } 
    
    span, h6{
        display: none;
    }    

    .company-logo  {
        position: absolute;
        left: -500px;
    }
}